// Variables
@import 'variables';

/*! purgecss start ignore */
@import './plugin/nice-toast-js';
/*! purgecss end ignore */

@import './argon/argon';

/* purgecss start ignore */
body {
    font-family: 'Open Sans', 'Hind Siliguri', 'Poppins', sans-serif;
}

.laragram-logo {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.likeBtn {
    cursor: pointer;
}

.single-post {
    box-shadow: 0 1px 2px #00000033;
}

.laragram-logo-svg {
    height: 1.75rem;
}

.nav-avatar {
    border-radius: 100%;
    height: 2em;
    width: 2em;
}

.bg-gray-100 {
    background-color: rgba(243, 244, 246, 1);
}

.bg-glass {
    backdrop-filter: saturate(180%) blur(20px) !important;
    background-color: rgba(255, 255, 255, .72) !important;
}

.navbar {
    padding: .6rem .6rem;
}

.laragram-sidebar {
    top: 5.2rem;
    height: 85vh;
    z-index: 1;
}

// owl carousel
.owl-nav button {
    position: absolute;
    top: 0;
    bottom: 0;
    outline: none;
}

.owl-prev {
    right: 92%;
}

.owl-next {
    left: 92%;
}

.owl-nav button span {
    display: inline-block;
    color: #222222;
    font-size: 20px;
    width: 35px;
    height: 35px;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
}

@media (max-width: 768px) {
    .owl-prev {
        right: 85%;
    }

    .owl-next {
        left: 85%;
    }

    .owl-nav button span {
        display: inline-block;
        color: #222222;
        font-size: 18px;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border-radius: 50%;
        position: relative;
    }
}

.owl-nav button.disabled {
    display: none;
    transition: ease-in-out 0.8s;
}

.owl-nav button.disabled {
    display: none;
    transition: ease-in-out 0.8s;
}

.form-control.remove-focus:focus {
    border: none !important;
    box-shadow: none !important;
}

@media (max-width: 575.98px) {
    .navbar-top .nav-item {
        position: static;
        padding: 0.2rem 0;
    }
}

// Global Styles

::selection {
    color: $white;
    background: $primary !important;
}

// Make clicks pass-through
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: $laragram-gradient;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

// Fancy blur effect
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $primary, 0 0 5px $primary;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

// Remove these to get rid of the spinner
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: $primary;
    border-left-color: $primary;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    width: 100vw;
    height: 100vh;
    background-color: $modal-backdrop-bg;

    // Fade for backdrop
    &.fade { opacity: 0; }
    &.show { opacity: $modal-backdrop-opacity; }
}
/* purgecss end ignore */

.unread-notification {
    color: $gray-700;
    background-color: $gray-100;
}
